body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
form {
  text-align: center;
}
.ang2 {
  /* padding: 10px; */
  /* margin: 10px; */
  padding-left: 20px;
}
button {
  position: relative;
  top: 40px;
  right: 240px;
  background-color: #888;
  border: 2px solid black;
  padding: 10px 20px;
}
button:hover {
  background-color: #666;
}
/* .well {
  text-align: center;
  padding-top: 30px;
  position: relative;
  right: 30px;
} */
