body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: #333;
}

.pembungkus {
  margin: auto;
  width: 800px;
  padding: 100px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
  position: relative;
  right: 20px;
}
.ang2 {
  /* padding: 10px; */
  /* margin: 10px; */
  padding-left: 20px;
}
button {
  /* position: relative;
  top: 40px;
  right: 240px; */
  background-color: #888;
  border: 2px solid black;
  padding: 10px 20px;
  flex-wrap: wrap;
}
button:hover {
  background-color: #666;
}
#angka {
  margin: 10px;
}
#angka2 {
  margin: 10px;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
